body, html
{
	font-size: 0.9em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.info
{
	line-height: 1.2em;
	padding-left: 20px;
	border-top: 1px solid #ccc;
	padding-top: 30px;
    margin-top: 30px;
}

@media (min-width: 1160px) {
	.info
	{
		border-left: 1px solid #ccc;
		border-top: none;
		margin-top: 0px;
		padding-top: 0px;
	}
}

.sample-tree
{
	margin-right: 25px;
	width: 350px;
}

.tree-status {
	transition: 0.25s linear all;
}

.tree-ready {
	color: #090;
}

.tree-not-ready {
	color: #900;
}

.buffer pre {
	font-size: 1.2em;
	width: 380px;
	padding: 10px;
	border: 1px solid #ccc;
	word-wrap: break-word;
}

.example-header {
	margin-top:0px;
	margin-bottom: 20px;
}

.title-header {
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    color: #fff;
}

.title-header h1 {
	text-align:center;
}
