body,html {
	font-size: 0.9em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.info
{
	line-height: 1.2em;
    position: absolute;
    top: 35px;
    left: 400px;
}

.sample-tree {
	position:absolute:
	top: 75px;
	left: 25px;
	margin-right: 25px;
	width: 350px;
	border: 1px solid #000;
}

.tree-status {
	transition: 0.25s linear all;
}

.tree-ready {
	color: #090;
}

.tree-not-ready {
	color: #900;
}
