<h2 id="title">Welcome to Ember.js</h2>

{{ember-jstree
    data=data
    plugins=plugins
    checkboxOptions=checkboxOptions
    selectionDidChange="handleTreeSelectionChange"}}

<div class="selected-nodes">
    Selected: {{selectedNodes}}
</div>
