<div class="title-header jumbotron">
    <h1>Ember CLI jsTree</h1>
</div>

<h2 style="padding-left:35px">Examples</h2>

<div class="col-xs-12" style="margin-top:20px">
    <div class="col-xs-12 col-sm-2">
        <ul class="list-group">
            {{#link-to 'static' class="list-group-item"}}Static Tree{{/link-to}}
            {{#link-to 'dynamic' class="list-group-item"}}Dynamic (AJAX-loaded) Tree{{/link-to}}
        </ul>
    </div>
    <div class="col-xs-12 col-sm-10">
        {{outlet}}
    </div>
</div>
