<h2 id="title">Welcome to Ember.js</h2>

<h3>Sample Tables</h3>
<ul>
    <li>{{#link-to "dynamic"}}Dynamic (JSON-loaded){{/link-to}}</li>
    <li>{{#link-to "static"}}Static with addons{{/link-to}}</li>
</ul>

{{outlet}}